[data-anime] {
  opacity: 0;
  transition: .7s;
}

[data-anime="top"], 
[data-anime="top-delay"] {
  transform: translate3d(0, -90px, 0);
}

[data-anime="right"], 
[data-anime="right-delay"] {
  transform: translate3d(90px, 0, 0);
}

[data-anime="bottom"], 
[data-anime="bottom-delay"] {
  transform: translate3d(0, 90px, 0);
}

[data-anime="left"], 
[data-anime="left-delay"] {
  transform: translate3d(-90px, 0, 0);
}

[data-anime="rotate-to-right"] {
  transform: rotate(-90deg);
}

[data-anime="rotate-to-left"] {
  transform: rotate(90deg);
}

[data-anime].-animator {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) rotate(0);
}